{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="{% block description %}{% endblock %}"/>

      <title>{% block title %}Dominio | Titulo pagina {% endblock %}</title>

      {% block head %}
      {% endblock %}
      {% include "header_scripts.html" %}
      {% load bootstrap4 %}

      {% bootstrap_css %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
      <div class="container-fluid">
        {% block navbar %}

        {% endblock navbar %}

          {% block content %}
          {% endblock %}
      </div>

      {% block scripts %}
      {% endblock %}

      {# JS y jQuery Bootstrap #}
      {% bootstrap_javascript jquery='full' %}

  </body>
</html>