{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="{% block description %}{% endblock %}"/>

      <title>{% block title %}Dominio | Titulo pagina {% endblock %}</title>

      {% block head %}
      {% endblock %}
      {% include "header_scripts_mini.html" %}
      {% load bootstrap4 %}

      {% bootstrap_css %}

  </head>
  <body>
      {% block navbar %}
      {% endblock navbar %}

      {% block content %}
      {% endblock %}

      {% block scripts %}
      {% endblock %}

      {# JS y jQuery Bootstrap #}
      {% bootstrap_javascript jquery='full' %}

  </body>
</html>