{% extends 'base_mini.html' %}
{% load staticfiles %}

{% block title %}Municipalidad de Córdoba | CordoBus {% endblock %}

{% block head %}
  <link rel="stylesheet" href="https://openlayers.org/en/v5.2.0/css/ol.css" type="text/css">

  <script src="https://openlayers.org/en/v5.2.0/build/ol.js"></script>
  <!-- ol-popup -->
  <script src="https://unpkg.com/ol-popup@4.0.0"></script>
  <link href="{% static 'assets/css/popup.css' %}" rel="stylesheet">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
{% endblock %}

{% block content %}

  <div id="map" class="map"></div>
{% endblock %}

{% block scripts %}
  <script src="{% static "/assets/js/maps.js" %}" async defer></script>
{% endblock %}
