{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Municipalidad de Córdoba | CordoBus {% endblock %}

{% block head %}
  <link rel="stylesheet" href="https://openlayers.org/en/v5.2.0/css/ol.css" type="text/css">

  <script src="https://openlayers.org/en/v5.2.0/build/ol.js"></script>

  <!-- ol-popup -->
  <script src="https://unpkg.com/ol-popup@4.0.0"></script>
  <link href="{% static 'assets/css/popup_paradas.css' %}" rel="stylesheet">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
{% endblock %}

{% block navbar %}
  {% include "navbar-logo.html" %}
{% endblock navbar %}

{% block content %}
<!--   <form class="form-inline">
    <label>Seleccione recorrido &nbsp;</label>
    <select id="type" class="form-control">
      <option value="singleselect" selected>Seleccione un recorrido</option>
      {% for recorrido in recorridos %}
        <option value="multiselect">{{recorrido}}</option>
      {% endfor %}
    </select>
  </form> -->
  <div class="row align-items-center">
    <div class="form-group col-sm-5 col-md-4">
      <label for="recorrido">Recorrido</label>
      <select class="form-control" id="recorrido">
        {% for recorrido in recorridos %}
          <option value="{{recorrido.id}}">{{recorrido}} - {{recorrido.descripcion_interna}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-sm-2 col-md-2" style="margin-top:auto; height:100%">
      <button type="button" class="btn btn-primary btn-md" id="btnViajes"
              data-loading-text="<i class='fa fa-spinner fa-spin '></i> Obteniendo recorridos">
        Cargar mapa filtrado
      </button>
    </div>
    <div class="form-group col-sm-2 col-md-2" style="margin-top:auto; height:100%">
        <button type="button" class="btn btn-primary btn-md" id="btnLimpiar"
                data-tooltip="Borrar datos del mapa."
                onclick="limpiar_mapa()"
                data-loading-text="<i class='fa fa-spinner fa-spin '></i> Limpiando mapa"> Limpiar mapa
        </button>
    </div>
  </div>
  <div id="map" class="map"></div>
{% endblock %}

{% block scripts %}
<!--   <script src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script> -->
  <script src="{% static "/assets/js/editor_paradas.js" %}" async defer></script>
  <script src="{% static "/assets/js/botones.js" %}" async defer></script>

  <script src="{% static '/assets/jquery/jquery-3.4.0.min.js' %}"></script>

{% endblock %}
