{% extends 'base_mini.html' %}
{% load staticfiles %}

{% block title %}Municipalidad de Córdoba | CordoBus {% endblock %}

{% block head %}

    {{script|safe}} <!-- script generado por el grafico -->

    <link
        href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css"
        rel="stylesheet" type="text/css">
    <link
        href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css"
        rel="stylesheet" type="text/css">
    <link
        href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.css"
        rel="stylesheet" type="text/css">

    <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.js"></script>

    <!-- Estilos Personalizados -->
    <link href="/static/assets/css/estilos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

{% endblock %}

{% block content %}

    <div class="row head">
        <div class="col"></div>
        <div class="col">
            <h2 class="tituloPrincipal">{{nombre_empresa}}</h2>
        </div>
        <div class="col"></div>
    </div>

    <div class="row divider"></div>

    <div class="row">
        <div class="col infoCont">
            <div class="row">
                <div class="infoDiv">
                    <div class="col">
                        <h2 class="titulo_empresa">
                            Unidades faltantes
                        </h2>
                    </div>
                    <div class="col">
                        {% if faltantes > 15 %}
                            <div class="inline-block badgeAlert alert">
                                <h3 class="linea count" data-min="0" data-max="{{faltantes}}">{{faltantes}}</h3>
                                <i class="far fa-bell icono"></i>
                            </div>
                        {% else %}
                            {% if faltantes < 5 %}
                                <div class="inline-block badgeAlert sucess">
                                    <h3 class="linea count" data-min="0" data-max="{{faltantes}}">{{faltantes}}</h3>
                                    <i class="far fa-thumbs-up icono"></i>
                                </div>
                            {% else %}
                                <div class="inline-block badgeAlert warning">
                                    <h3 class="linea count" data-min="0" data-max="{{faltantes}}">{{faltantes}}</h3>
                                    <i class="fas fa-exclamation-triangle icono"></i>
                                </div>
                            {% endif%}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row divider"></div>

            <div class="row">
                <div class="infoDiv">
                    <div class="col">
                        <h2 class="titulo_empresa">
                            Deslogueados
                        </h2>
                    </div>
                    <div class="col">
                        <div class="infoBadge">
                            {{cantidad_deslogueados}}
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col infoCont">
            {{plot|safe}}
        </div>

    </div>

    <div class="row divider">
    </div>

        <div class="row infoCont">
            <div class="infoDiv">

                {% for k, v in lineas %}
                    <div class="col border-right position-relative">

                            <div class="inline-flex info-linea">
                                <div class="inline-block nombre">
                                    <span class="lineaNom">Línea</span>
                                    <span class="numero">
                                        {{k}}
                                    </span>
                                </div>
                                <div class="progressCont">
                                    <div class="col position-absolute">
                                        <div class="row infoDiv-linea-faltante superior">
                                            <div class="col infoRankingLinea infoRankingSize">
                                                Faltan {{v.0}}
                                            </div>
                                        </div>
                                        <div class="row infoDiv-linea-faltante inferior">
                                            <div class="col infoRankingLinea infoRankingSize">
                                                Circulan {{v.1}} de {{v.2}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                {% endfor %}

            </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'assets/js/estado_general.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/ScrollMagic.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/TweenMax.min.js' %}"></script>
{% endblock %}