{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Municipalidad de Córdoba | CordoBus {% endblock %}

{% block head %}

{{block.super}}
	{% for k,v in graficos.items %}
		{{v.0|safe}} <!-- script generado por el grafico -->
	{% endfor %}
	<link
		href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css"
		rel="stylesheet" type="text/css">
	<link
		href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css"
		rel="stylesheet" type="text/css">
	<link
		href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.css"
		rel="stylesheet" type="text/css">

	<script src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
	<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
	<script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.js"></script>

	<!-- Estilos Personalizados -->
	<link href="/static/assets/css/estilos.css" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-12 infoCont">
			<div class="row">
				<div class="col-lg-1">
				</div>
				<div class="col-lg-8 header-flex">
					<p>Colectivos faltantes ahora</p>
				</div>
				<div class="col-lg-1 header-flex">
					<p>Unidades sin loguearse</p>
				</div>
				<div class="col-lg-2 header-flex">
					<p>Promedio por hora</p>
				</div>
			</div>
		</div>
	</div>

	{% for k,v in colectivos_por_empresa.items %}
		<div class="row">
			<div class="col-lg-12 infoCont">
				<div class="row">
					<div class="infoDiv">
						<div class="col-lg-1">
							<h2 class="titulo_empresa">{{k}}</h2>
						</div>
						<div class="col-lg-8">
							<div class="row">
								<div class="col-lg-3">
									<div class="empresaInfo">
										{% if v > 15 %}
											<div class="inline-block badgeAlert alert">
												<h3 class="linea count" data-min="0" data-max="{{v}}">{{v}}</h3>
												<i class="far fa-bell icono"></i>
											</div>
										{% else %}
											{% if v < 5 %}
												<div class="inline-block badgeAlert sucess">
													<h3 class="linea count" data-min="0" data-max="{{v}}">{{v}}</h3>
													<i class="far fa-thumbs-up icono"></i>
												</div>
											{% else %}
												<div class="inline-block badgeAlert warning">
													<h3 class="linea count" data-min="0" data-max="{{v}}">{{v}}</h3>
													<i class="fas fa-exclamation-triangle icono"></i>
												</div>
											{% endif%}
										{% endif %}
									</div>
								</div>
								<div class="col-lg-9">
									<div class="row">
										{% for l, porcentaje in porcentaje_por_lineas|get_item:k %}
											<div class="col-lg-4 border-right">
												<div class="inline-flex info-linea">
													<div class="inline-block nombre">
														<span class="lineaNom">Línea</span>
														<span class="numero">
															{{l}}
														</span>
													</div>
													<div class="progressCont">
														<div class="progress {{k|lower|slugify}}">
															<div class="progress-bar" role="progressbar" style="width: {{porcentaje.2|to_int}}%;" aria-valuenow="3" aria-valuemin="0" aria-valuemax="100">{{porcentaje.3}}</div>
														</div>
													</div>
													
												</div>
											</div>
										{% endfor %}
									</div>
								</div>
							</div>

						</div>
						<div class="col-lg-1">
							<div class="infoBadge">
								{{deslogueados|get_item:k}}
							</div>
						</div>
						<div class="col-lg-2">
<!-- 							<div class="infoBadge">
								<div style="width: 100vw; height:100vh">{{plot|safe}}</div>
							</div> -->
								{% with p=graficos|get_item:k%}
									{{p.1|safe}}
								{% endwith %}
						</div>

					</div>
					
				</div>
			</div>
		</div>

		<div class="row divider">
			<div class="col-lg-12 infoCont">
				<div class="row">
					<div class="col-lg-1">
					</div>
					<div class="col-lg-8 header-flex">
					</div>
					<div class="col-lg-1 header-flex">
					</div>
					<div class="col-lg-2 header-flex">
					</div>
				</div>
			</div>
		</div>
	{% endfor %}

{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{% static 'assets/js/estado_general.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/ScrollMagic.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/TweenMax.min.js' %}"></script>
{% endblock %}