{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Municipalidad de Córdoba | CordoBus {% endblock %}

{% block head %}
	<!-- Estilos Personalizados -->
  <link href="{% static 'assets/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include "navbar-logo.html" %}
{% endblock navbar %}

{% block content %}
<!--   <div class="imgwrapper">
     <img src="/static/images/fondo-cordoba-noche.jpg" class="img-responsive">
  </div> -->
{% endblock %}
