{% extends "base.html" %}

{% block content %}

<img src='/static/images/header-muni-docs.png' style='margin: 20px;'/>

<h2 align="center">MEMORÁNDUM</h2>
<p>
Producido por: <b>Secretaría de Modernización, Comunicación y Desarrollo Estratégico.<br>Dirección de Sistemas de Información e Innovación</b>
<br>Dirigido a: <b>Subsecretaría de Transporte.</b>
Fecha:{{ ahora|date:"D d \d\e F \d\e Y" }}
</p>

<p><b>Asunto: Informe Técnico de transporte urbano. Reporte de las {{ ahora|date:"G:i" }} hs</b></p>

<p>
Por la presente informo que el servicio de datos con el que se controla al sistema de
 transporte y a su vez en insumo para la aplicación Go sufre falencias derivadas de
  la falta de registro de algunas unidades de transporte.
Estas fallas no permiten realizar el control correspondiente a las frecuencias ni
 informar a la ciudadanía de manera adecuada de las unidades disponibles.
La falta de registro de las unidades se ha informado en numerosas ocasiones
 y es requisito que se solucione a la brevedad.
  Solicitamos se derive esta solicitud a las empresas con carácter de urgente y se 
  analice la posibilidad de realizar una multa por falta de información comprometida en pliegos de licitación.
</p>

<p>De acuerdo a los datos que se registran en el sistema, el registro total de unidades de transporte es igual a {{flota_total}} colectivos. De los cuales {{internos_activos}} unidades (el {{internos_act_porc}}%) están activas prestando servicio en la ciudad de Córdoba, donde {{ internos_no_logueados|length }} de esas se encuentran sin estar identificadas en este momento.</p>
<p><b>A continuación se muestra el detalle de esas {{ internos_no_logueados|length }} unidades.</b></p>

<table class="table">
  <thead>
    <tr><th scope="col">Interno</th><th scope="col">Empresa</th></tr>
  </thead>
  <tbody>
  {% for interno in internos_no_logueados %}
    <tr><td>{{ interno.name }}</td><td>{{ interno.empresa }}</td></tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}