{% extends 'base_mini.html' %}
{% load staticfiles %}

{% block title %}Municipalidad de Córdoba | CordoBus {% endblock %}

{% block head %}

    {{script|safe}} <!-- script generado por el grafico -->
    <link
        href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css"
        rel="stylesheet" type="text/css">
    <link
        href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css"
        rel="stylesheet" type="text/css">
    <link
        href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.css"
        rel="stylesheet" type="text/css">

    <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.js"></script>

    <!-- Estilos Personalizados -->
    <link href="/static/assets/css/estilos.css" rel="stylesheet">

{% endblock %}

{% block content %}

    <div class="row head">
        <div class="col"></div>
        <div class="col">
            <h2 class="tituloPrincipal">LÍNEAS DE COLECTIVOS ACTIVAS Y COMPROMETIDAS</h2>
        </div>
        <div class="col"></div>
    </div>

    <div class="row divider"></div>

    <div class="descripcion">
        <h4><b>Información en tiempo real</b></h4> <h6>Cantidad de unidades de transporte urbano de pasajero que se encuentran activas versus las comprometidas. Se discriminan por empresa y por línea. Las diferencias pueden ser consideradas faltantes o refuerzos.
        <br><br>
        Las unidades no logueadas no son tenidas en cuenta en la visualización.
        <br><br>
        <b>Nota:</b> El proceso de loguear se realiza en el momento de iniciar un recorrido por parte del chofer. Este debe indicar qué recorrido debe hacer, de lo contrario el sistema detecta a la unidad pero no puede identificar a qué línea pertenece.
        </h6>
    </div>

    <div style="width: 100vw; height:100vh">{{plot|safe}}</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'assets/js/estado_general.js' %}"></script>
{% endblock %}