{% extends "base.html" %}
{% load humanize %}
<title>{% block title %}Reporte de estado general - Cordobus {% endblock %}</title>

{% block content %}

<img src='/static/images/header-muni-docs.png' style='margin: 20px;'/>

<br>
<p><b>Tabla mostrando promedios de colectivos faltantes por empresa desde el {{desde|date:'d-m-Y'}} hasta el {{hasta|date:'d-m-Y'}} [{{cantidad_dias}} dias]</b></p><br>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Empresa</th>
      <th scope="col">Promedio de colectivos faltantes</th>
    </tr>
  </thead>

  <tbody>

    <tr>
      <td>{{ ersa }}</td>
      <td>{{ promedio_faltantes_ersa| intcomma }}</td>
    </tr>
    <tr>
      <td>{{ coniferal }}</td>
      <td>{{ promedio_faltantes_coniferal| intcomma }}</td>
    </tr>
    <tr>
      <td>{{ aucor }}</td>
      <td>{{ promedio_faltantes_aucor| intcomma }}</td>
    </tr>
    <tr>
      <td>{{ tamse }}</td>
      <td>{{ promedio_faltantes_tamse| intcomma }}</td>
    </tr>
  </tbody>
</table>


{% endblock %}
