{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
  {% block head %}
  <title>Transporte Urbano de Pasajeros - Ciudad de Córdoba</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous" async>

  <link href='https://fonts.googleapis.com/css?family=Lato:200,400,400i,500,700' rel='stylesheet' type='text/css' async>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous" async>


<!--   <link href="{% static '/assets/css/base.css' %}" rel="stylesheet"> -->

  {% endblock head %}
  {% block extrahead %}
  {% endblock extrahead %}
</head>
<body>

  <main class="container-fluid" role="main">
  {% block content %}
  <!-- Content goes here -->
  {% endblock content %}
  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
          integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
          crossorigin="anonymous"></script>
  {% block tail %}
  {% endblock %}
</body>
</html>
