{% load staticfiles %}
{% load humanize %}

<html>
  <head>
      {% load bootstrap4 %}
      {% bootstrap_css %}
    <link rel="stylesheet" href="{% static "/css/graficos.css" %}">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart'],'language': 'es-AR'});
      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);
      $(document).ready(function(){
        setInterval("location.reload(true)", 900000);
        drawChart();
      });
      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Contratos');
        data.addColumn('number', 'Boletos');
        data.addColumn({type: 'string', role: 'annotation'});
        data.addRows({{lista_contrato|safe}});
          var options = {
            title: 'Fecha: {{hasta}}\n\nCon subsidio: {{boletos_subsidio | intcomma}} \n Sin subsidios: {{usuarios_comunes_ayer | intcomma}}',
            titleTextStyle: {
                              bold: true,
                              fontSize: 18,
                              alignment: 'center',
                              fontName: 'roboto'
                            },
            is3D: true,
            //pieHole: 0.1,
            displayExactValues: true,
            slices: { 1: {offset: 0.055},
                     2: {offset: 0.05},
                     3: {offset: 0.03},
                     4: {offset: 0.1},
            },
            pieSliceText: 'value',
            pieSliceTextStyle: {
                                color: 'white',
                                fontName: 'roboto',
                                fontSize: 18,
                                bold: true
                              },
            legend: { position: "labeled",
                      textStyle: {
                        color: 'black',
                        bold: true
                      },
                    },
          };
        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('resumen_ayer'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart'],'language': 'es-AR'});
      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);
      $(document).ready(function(){
        setInterval("location.reload(true)", 900000);
        drawChart();
      });
      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Contratos');
        data.addColumn('number', 'Boletos');
        data.addColumn({type: 'string', role: 'annotation'});
        data.addRows({{lista_contrato_total|safe}});
          var options = {
            title: 'Desde el {{desde}} hasta el {{hasta}} - {{cantidad_dias}} días.\n\nCon subsidio: {{boletos_subsidio_acumulado | intcomma}}\n Sin subsidios: {{usuarios_comunes | intcomma}}',
            titleTextStyle: {
                              bold: true,
                              fontSize: 18,
                              alignment: 'center',
                              fontName: 'roboto'
                            },
            is3D: true,
            //pieHole: 0.1,
            displayExactValues: true,
            slices: { 1: {offset: 0.055},
                     2: {offset: 0.05},
                     3: {offset: 0.03},
                     4: {offset: 0.1},
            },
            pieSliceText: 'value',
            pieSliceTextStyle: {
                                color: 'white',
                                fontName: 'roboto',
                                fontSize: 18,
                                bold: true
                              },
            legend: { position: "labeled",
                      textStyle: {
                        color: 'black',
                        bold: true
                      },
                    },
          };
        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('resumen_mes'));
        chart.draw(data, options);
      }
    </script>
  </head>

  <body>
    <div style="width: 100vw; height:100vh">
      <div class="mapTitle">
        <div class="container">
           <div class="rowTitle">
              <h2 class="mapText">{{titulo}}</h2>
          </div>
        </div>
      </div>
      <div class="row divider"></div>

      <div class="descripcion">
          <h6>
            {{descripcion_ayer|safe}}
          </h6>
      </div>
      <div id="resumen_ayer" style="width: 100vw; height:100vh"></div>

      <div class="row divider"></div>

      <div class="descripcion">
          <h6>
            {{descripcion|safe}}
          </h6>
      </div>
      <div id="resumen_mes" style="width: 100vw; height:100vh"></div>
    </div>
  </body>
</html>
