{% extends "base.html" %}
{% load humanize %}
<title>{% block title %}Reporte de Cordobus {% endblock %}</title>

{% block content %}

<img src='/static/images/header-muni-docs.png' style='margin: 20px;'/>

<h2 align="center">Reporte general de transporte generado el: {{ahora|date:'d-m-Y H:i' }} hs</h2>
<br>
<p><b>Tabla mostrando cortes de boletos desde el {{desde|date:'d-m-Y'}} hasta el {{hasta|date:'d-m-Y'}} [{{cantidad_dias}} dias]</b></p><br>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Empresa</th>
      <th scope="col">Corte de boletos</th>
    </tr>
  </thead>

  <tbody>

    <tr>
  {% for empresa in suma_cortes_por_empresa %}
      <td>{{ empresa.empresa__nombre_publico }}</td>
      <td>{{ empresa.cantidad_boletos| intcomma }}</td>
    </tr>
  {% endfor %}
    <tr>
      <th scope="col">Total de boletos: {{ suma_cortes_todas_empresas| intcomma }} </th>
    </tr>
  </tbody>
</table>

<br><br>

<p><b>Tabla mostrando subsidios </b></p><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Usuarios sin subsidios</th>
      <th scope="col">Usuarios con subsidio BEG</th>
      <th scope="col">Usuarios con subsidio BAM</th>
      <th scope="col">Usuarios con subsidio BOS</th>
      <th scope="col">Usuarios con subsidio BSC</th>
      <th scope="col">Usuarios con subsidio de ordenanzas</th>
      <th scope="col">Usuarios con subsidio social mayores</th>
      <th scope="col">Otros</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>{{suma_usuarios_sin_subsidio | intcomma}}</td>
      <td>{{suma_beg | intcomma}}</td>
      <td>{{suma_bam | intcomma}}</td>
      <td>{{suma_bos | intcomma}}</td>
      <td>{{suma_bsc | intcomma}}</td>
      <td>{{suma_ordenanza | intcomma}}</td>
      <td>{{suma_social_mayores | intcomma}}</td>
      <td>{{otros | intcomma}}</td>
    </tr>
  </tbody>
</table>

<br><br>

<p><b>Tabla de horarios </b></p><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Hora</th>
      <th scope="col">Boletos</th>
    </tr>
  </thead>

  <tbody>
  {% for hora in qs_hora_ordenada %}
    <tr>
      <td>{{ hora.hora }} hs</td>
      <td>{{ hora.boletos_hora| intcomma }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>


<br><br>

<p><b>Top 10 lineas mas usadas </b></p><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Linea</th>
      <th scope="col">Boletos</th>
    </tr>
  </thead>

  <tbody>
  {% for linea in top_10_lineas %}
    <tr>
      <td>{{ linea.linea__nombre_publico }}</td>
      <td>{{ linea.boletos| intcomma }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>


<p><b>Cantidad de colectivos registrados en estos {{cantidad_dias}} dias: {{cantidad_colectivos| intcomma}}</b></p>
<p><b>Cantidad de choferes registrados en estos {{cantidad_dias}} dias: {{cantidad_choferes| intcomma}}</b></p>
<p><b>Cantidad de colectivos en servicios especiales registrados en estos {{cantidad_dias}} dias:
  {% if servicio_especial|length > 0 %}
    {{servicio_especial|intcomma}}
  {% else %}
    0
  {% endif %}
</b></p>


{% endblock %}
