#all {
    height: 100%;
  }
  
  #map{
      height: 100%;
    }
    
  html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  
  #all {
    position: relative;
  }
  
  #div_filtros {
    position: absolute;
    top: 10px;
    left: 40px;
    z-index: 99;
    height: 600px;
    margin-top: 100px;
  }
  
  #select_filtros {
    height: 580px;
    width: 120px;
  }
  