#div_filtro_recorridos {
    position: absolute;
    top: 10px;
    left: 40px;
    z-index: 99;
    height: 600px;
    margin-top: 100px;
  }
  
  #select_filtro_recorridos {
    height: 580px;
    width: 310px;
  }
  
  .delete_parada {
    color: red;
    
  }