.map {
    height: calc(100vh - 214px);
}

.map:-moz-full-screen {
    height: 100%;
}
.map:-webkit-full-screen {
    height: 100%;
}
.map:-ms-fullscreen {
    height: 100%;
}
.map:fullscreen {
    height: 100%;
}
.ol-rotate {
    top: 3em;
}

#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}


#info {
    z-index: 5;
    opacity: 0;
    position: absolute;
    bottom: 0;
    margin-left:10px;
    margin: 0;
    background: rgba(0,60,136,0.7);
    color: white;
    border: 0;
    transition: opacity 100ms ease-in;
    display:none;
}

#layers-box {
    z-index: 4;
    border-radius: 2px 2px 0 0;
    opacity: 1;
    position: absolute;
    right: 1.0em;
    top: .5em;
    background-color: rgba(255,255,255,.8);
    font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif;
    /*background-color: rgba(0,60,136,.5);
    */
    margin-top:35px;
    margin-right:5px;
    width:200px;
}

.layers-list {
    color: #313435 !important;
}
.layer-item {
    border-bottom:1px solid rgba(0,0,0,.0625) !important
}

.layer-item-icon {
    right:.5em;
}

.sidebar {s
    overflow: scroll;
/*    position: absolute;
    top: 75px;*/
    bottom: 0;
}

.viajes-lista table tbody tr:not(.no-records-found) {
    cursor: pointer;
}

